#main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
    
}
.calc-display{
    background-color: rgb(121, 148, 81);
    width: 49.8%;
    height: 150px;
    margin: 15px 0 0 0 ;
    border: none;
    box-shadow: 10px 10px 5px  gray;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
#main-table{
    background-color: gray;
    width: 50%;
    box-shadow: 10px 10px 5px  gray;
}
.button{
    background-color: rgb(92, 92, 92);
    width: 165px;
    height: 100px;
    border: none;
    font-size: xx-large;
    font-weight: bolder;
    
}
.result{
    background-color:rgb(8, 104, 8);
    width: 165px;
    height: 100px;
    border: none;
    font-size: xx-large;
    font-weight: bolder;
    
    

}
#erase{
    background-color:rgb(94, 0, 0);
    width: 404%;
    height: 100px;
    border: none;
    font-size: xx-large;
    font-weight: bolder;
    

}
.operator{
    background-color: rgb(150, 97, 0);
}